<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>427562363633-n653omitgii95dtestjg640p9sdsvfm4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.427562363633-n653omitgii95dtestjg640p9sdsvfm4</string>
	<key>API_KEY</key>
	<string>AIzaSyBFipJW0k0737hjOFgBY963aG7IifUGUwk</string>
	<key>GCM_SENDER_ID</key>
	<string>427562363633</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sts</string>
	<key>PROJECT_ID</key>
	<string>sts0-76694</string>
	<key>STORAGE_BUCKET</key>
	<string>sts0-76694.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:427562363633:ios:9ba54e0fa6ec661dfc5750</string>
	<key>DATABASE_URL</key>
	<string>https://sts0-76694.firebaseio.com</string>
</dict>
</plist>